<html>
<head><title>Multiplication</title></head>
<body>
    <h1>Multiplication</h1>
    <table border="1" cellpadding="2">
        <tr>
            <td>2x1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2x2</td>
            <td>4</td>
        </tr>
        <tr>
            <td>2x3</td>
            <td>6</td>
        </tr>
        <tr>
            <td>2x4</td>
            <td>8</td>
        </tr>
        <tr>
            <td>2x5</td>
            <td>10</td>
        </tr>
        <tr>
            <td>2x6</td>
            <td>12</td>
        </tr>
        <tr>
            <td>2x7</td>
            <td>14</td>
        </tr>
        <tr>
            <td>2x8</td>
            <td>16</td>
        </tr>
        <tr>
            <td>2x9</td>
            <td>18</td>
        </tr>
        <tr>
            <td>2x10</td>
            <td>20</td>
        </tr>
        <tr>
            <td>2x11</td>
            <td>22</td>
        </tr>
        <tr>
            <td>2x14</td>
            <td>24</td>
        </tr>
    </table>
    
    <h2>Worajedt Sitthidumrong s5623423423</h2>
    <p>Your name is too long!</p>
</body>
</html>