<!--- Setting Variables --->
<cfset ThisIs = "fun" />
<cfdump var="#ThisIs#" label="Print Variable" />


<cfset ThisNum = 25 />
<cfdump var="#ThisNum#" label="Print Num Variable" />

<cfdump var="#ThisNum * 2#" label="Print Calculation" />

<cfset Today = now() />
<cfdump var="#Today#" label="Today"/>

<cfset Today = DateFormat(now(),"short") />
<cfdump var="#Today#" label="Today Short"/>

<cfset Today = DateFormat(now(),"long") />
<cfdump var="#Today#" label="Today Long"/>

<cfset Today = DateFormat(now(),"ddd dd mmmm yyyy") />
<cfdump var="#Today#" label="Custom format"/>

<cfset birthday = DateDiff("yyyy","2000-11-14","2013-11-14") />
<cfdump var="#birthday#" label="Birthday" />

<cfset birthday = DateAdd("yyyy", 2, now()) />
<cfdump var="#birthday#" label="Next 2 yrs" />

<cfsavecontent variable="EmailContent">
    Hi
    <p>We want to send you a hoverboard.
    Let us know if you will accept this free offer.</p>
    -Us
</cfsavecontent>

<cfoutput>#EmailContent#</cfoutput>











