<html>

    <head>
        <title>Multiplication</title>
    </head>
    
    <body>
        <!-- heading ? -->
        <h1>Multiplication</h1>
        
        <!-- table with 2 columns -->
        <cfoutput>
            <table>
                <tr>
                    <td>2x2</td>
                    <td>#2*2#</td>
                </tr>
            </table>
        </cfoutput>
        
        <cfset firstName="Worajedt">
        <cfset lastName="Sitthidumrong">
        <cfset studentID="s234243324">
        <cfset fullName= firstName & " " & lastName & " " & studentID >
        <cfoutput>
            <h2>#fullName#</h2>
        </cfoutput>
        
        <cfif Len(fullName) GTE 10>
            <h2>Your name is too long</h2>
        <cfelse>
            <h2>Your name is shorter than 10 chars</h2>
        </cfif>
        
    </body>

</html>






